<% provide(:title, "Sign Up") %>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">         
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Sign Up</span>
                  </div>

                  <%= form_with model: @user, url:sign_up_path, data: {turbo: true} do |form| %>
                    <% if @user.errors.any? %>
                        <div class="alert alert-danger">
                            <% @user.errors.full_messages.each do |message| %>
                                <div><%= message %> </div>
                            <% end %>
                        </div>
                    <% end %>

                  <div class="form-outline mb-4">
                    <%= form.label :first_name %>
                    <%= form.text_field :first_name, class: "form-control", placeholder: "name" %>
                  </div>
                  <div class="form-outline mb-4">
                    <%= form.label :last_name %>
                    <%= form.text_field :last_name, class: "form-control", placeholder: "name" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :email %>
                    <%= form.email_field :email, class: "form-control", placeholder: "user@example.com" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :contact_number %>
                    <%= form.text_field :contact_number, class: "form-control", placeholder: "ex. 09123456789" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :password %>
                    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :password_confirmation %>
                    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :street %>
                    <%= form.text_field :street, class: "form-control", placeholder: "street" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :barangay %>
                    <%= form.text_field :barangay, class: "form-control", placeholder: "barangay" %>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <%= form.label :city %>
                    <%= form.text_field :city, class: "form-control", placeholder: "city" %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= form.label :province %>
                    <%= form.text_field :province, class: "form-control", placeholder: "province" %>
                  </div>

                 <div class="form-outline mb-4">
                    <%= form.label :postal_code %>
                    <%= form.text_field :postal_code, class: "form-control", placeholder: "postal_code" %>
                 </div>
                 
                  <div class="mb-3">
                    <%= form.submit "Get Started", class: "btn btn-primary" %>
                  </div>
                  <% end %>

                  <%= link_to "Have an account already?", sign_in_path %>
        
              </div>
            </div>
          </div>
        </div>
      </div>
      </br>
      </br>
    </div>
    
  </div>


</section>  
</br>
</br>