<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Booking Looking</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= render partial: "shared/navbar"%>
  </head>

  <body>
    <%= render partial: "shared/flash" %>
    <%= yield %>
  </body>
</html>
